*~
du.log

Makefile
qtcarto.pro.user

build/
cmake-build/
doc/html/
qmake-build/
src/scene/shaders/location_circle_shader.h

install-android-plugin.sh
run-cmake.sh
run-qmake.sh
open-doc.sh

geoportail-license-fabrice.json
geoportail-license.json

ArithmeticInterval
annecy.patch
class-def.txt
devel/
imports/QtCarto/compilation-errors.txt
imports/QtCarto/qmldir-orig
mapviewer/pages/main-bis.qml
shader-test/
test/triangulation_test/cleanup.sh

third-parties/libspatialindex/cmake.log
third-parties/libspatialindex/libspatialindex.git/
third-parties/libspatialindex/make.log

third-parties/proj4/cmake.log
third-parties/proj4/make.log
third-parties/proj4/proj.4.git/

